<div class="container">
  <div class="index-calendar">
    <%= week_calendar(events: @meal_days, number_of_weeks: 1) do |date, meals| %>
      <%= date.day %>
      <% meals.each do |meal| %>
        <%= link_to recipe_path(meal.recipe) do %>
          <div class="meal-event">
            <%= cl_image_tag meal.recipe.photo.key, width: 150, height: 100, crop: :fill %>
            <div class="meal-info">
              <p><%= meal.recipe.name %></p>
              <p><%= meal.recipe.servings %>pers.</p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
