<div class="container">
  <div class="index-calendar">
    <%= week_calendar(events: @meal_days, number_of_weeks: 1) do |date, meals| %>
      <%= date.day %>
      <% meals.each do |meal| %>
        <%= link_to recipe_path(meal.recipe) do %>
          <div class="meal-event">
            <%= cl_image_tag meal.recipe.photo.key, width: 150, height: 100, crop: :fill %>
            <div class="meal-info">
              <p class="pb-1"><%= meal.recipe.name %></p>
              <p><%= meal.quantity %> pers</p>
            </div>
            <div class="meal-event-icons">
              <i class="fa-solid fa-circle-info"></i>
              <%= link_to meal_day_path(meal, refresh_to: day_meals_index_path(meal)), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
