<div class="index-page">
  <div class="filters-box">
    <ul>
      <% @categories.each do |category|%>
          <li class="filters"><%= link_to category, recipes_path(query:category), class:"remove-link"%></li>
      <% end %>
    </ul>
  </div>
  <% if params[:query].present? %>
    <div class="line">
      <% if @recipes.size > 0 %>
        <h3>Here are the results for <%= params[:query] %></h3>
      <% else %>
        <h3>No results for <%= params[:query] %></h3>
      <% end %>
    </div>
  <% end %>
  <div class="index">
    <div class="index-column">
        <% @recipes.each do |recipe| %>
            <div class="recipe-card">
              <%= link_to recipe_path(recipe), class: "remove-link w-100" do %>
                <%= cl_image_tag recipe.photo.key, class: "w-100" %>
              <% end %>
              <div class="w-100 justify-elements">
                <div class="card-details-top" data-controller="heart">
                  <%= link_to recipe_path(recipe), class: "remove-link" do %>
                    <h2><%= recipe.name %></h2>
                  <% end %>
                  <% if recipe.favorites.where(user: current_user).empty? %>
                    <%= link_to recipe_favorites_path(recipe), data: { "turbo-method": :post } do %>
                      <i class="fa-regular fa-heart heart-empty" data-action="click->heart#favorite" data-heart-target="iconempty"></i>
                    <% end %>
                    <%= link_to recipe_favorite_path(recipe, recipe.favorites.where(user: current_user)), data: { "turbo-method": :delete }, class: "hide-icon" do %>
                      <i class="fa-solid fa-heart heart-fill" data-action="click->heart#unfavorite" data-heart-target="iconfill"></i>
                    <% end %>
                  <% else %>
                    <%= link_to recipe_favorite_path(recipe, recipe.favorites.where(user: current_user)), data: { "turbo-method": :delete } do %>
                      <i class="fa-solid fa-heart heart-fill" data-action="click->heart#unfavorite" data-heart-target="iconfill"></i>
                    <% end %>
                    <%= link_to recipe_favorites_path(recipe), data: { "turbo-method": :post }, class: "hide-icon" do %>
                      <i class="fa-regular fa-heart heart-empty" data-action="click->heart#favorite" data-heart-target="iconempty"></i>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-details">
                  <p><i class="fa-solid fa-clock">&nbsp;</i><%= recipe.prep_time %>min</p>
                  <p><i class="fa-solid fa-user-group">&nbsp;</i><%= recipe.servings %></p>
                  <p>
                    <% recipe.rating.times do %>
                      <i class="fa-solid fa-star"></i>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
        <% end %>
    </div>
  </div>
</div>
