<% content_for :meta_title, "#{@recipe.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @recipe.description %>
<% content_for :meta_image, cl_image_path(@recipe.photo.key) if @recipe.photo.attached? %>

<div class="container" data-controller="pop-up-menu">
  <div class="recipe-show">
    <div class="show-column">
        <div class="one">
          <h1><%= @recipe.name %></h1>
          <div class="line"></div>
          <div class="cooking-details">
            <div class="one-line"><h4>prep &nbsp;</h4><h4><strong><%= @recipe.prep_time %>min</strong></h4></div>
            <div class="one-line px-3">
              <h4>serves &nbsp;</h4>
              <h4><strong><%= @recipe.servings %></strong></h4>
            </div>
            <button class="button" data-action="click->pop-up-menu#showTargets">
              <h4 class="button-writing">Add to calendar</h4>
            </button>
            <div data-pop-up-menu-target="hideable" hidden>
              <div class="darken-screen"></div>
              <div class="add-recipe">
                <button>
                  <i class="fa-sharp fa-solid fa-xmark fa-xl" data-action="click->pop-up-menu#hideTargets"></i>
                </button>
                <%= render partial: "meal_days/new", locals: { recipe: @recipe, meal_day: @meal_day } %>
              </div>
            </div>
          </div>
          <div class="nutritional-details">
            <div class="nutri-button">
              <p class="nutri-top nutri-font"><%= @recipe.calories.round %></p>
              <p class="nutri-font">calories</p>
            </div>
            <div class="nutri-button">
              <p class="nutri-top nutri-font"><%= @recipe.glucid.round %>g</p>
              <p class="nutri-font">carbs</p>
            </div>
            <div class="nutri-button">
              <p class="nutri-top nutri-font"><%= @recipe.protein.round %>g</p>
              <p class="nutri-font">protein</p>
            </div>
            <div class="nutri-button">
              <p class="nutri-top nutri-font"><%= @recipe.fat.round %>g</p>
              <p class="nutri-font">fat</p>
            </div>
            <div class="nutri-button nutri-different">
              <p class="nutri-top footprint-font"><strong><%= @recipe.carbon %></strong></p>
              <p class="nutri-font">CO2</p>
            </div>
          </div>
        </div>
        <div class="two">
         <%= cl_image_tag @recipe.photo.key %>
        </div>
        <div class="three">
          <h2>Ingredients</h2>
          <div class="line"></div>
          <% @recipe.ingredients.each do |ingredient| %>
            <div class="ingredients one-line">
              <h4><%= ingredient.name.capitalize %>&nbsp;</h4>
              <% if ingredient.quantity < 1000  %>
                <h5><%= ingredient.quantity.ceil %>&nbsp;</h5>
                <h5><%= ingredient.unit %></h5>
              <% else %>
                <h5><%= (ingredient.quantity / 1000).round(2) %>&nbsp;</h5>
                <h5>Kg</h5>
              <% end %>

            </div>
          <% end %>
        </div>
        <div class="four">
          <h2>Instructions</h2>
          <div class="line"></div>
          <p><%= @recipe.description %></p>
        </div>
    </div>
  </div>
</div>
