<div class="container">
  <div class="recipe-show">
    <%= cl_image_tag @recipe.photo.key, height: 200, width: 300, crop: :fill %>
    <h1><%= @recipe.name %></h1>
    <p>Recipe instructions :<%= @recipe.description %></p>
    <p>Preparation time:<%= @recipe.prep_time %>minutes</p>
    <p>Rating: <%= @recipe.rating %>/5</p>
    <p>Servings :<%= @recipe.servings %> persons</p>
  </div>
  <div class="add-a-recipe-to-calendar">
    <%= render "meal_days/new", recipe: @recipe, meal_day: @meal_day %>
  </div>
</div>
