<div class="container" data-controller="pop-up-menu">
  <div class="recipe-show">
    <div class="show-column">

        <div class="one">
          <h1><%= @recipe.name %></h1>
          <div class="line"></div>
          <div class="cooking-details">
            <div class="one-line"><h3>prep &nbsp;</h3><h2><%= @recipe.prep_time %>min</h2></div>
            <%# <div class="one-line"><p>Rating: <%= @recipe.rating/5</p></div>  %>
            <div class="one-line px-3"><h3>serves &nbsp;</h3><h2><%= @recipe.servings %></h2></div>
            <button class="button" data-action="click->pop-up-menu#showTargets"><h2>calendar +</h2></button>
            <div data-pop-up-menu-target="hideable" hidden>
              <div class="darken-screen"></div>
              <div class="add-recipe"><button><i class="fa-sharp fa-solid fa-xmark fa-xl" data-action="click->pop-up-menu#hideTargets"></i></button> <%= render partial: "meal_days/new", locals: { recipe: @recipe, meal_day: @meal_day } %>
              </div>
            </div>

<%# add alert successfully signed in %>
<%# add hide when meal created%>
<%# hide when click outside %>
          </div>
        </div>

        <div class="two">
         <%= cl_image_tag @recipe.photo.key %>
        </div>

        <div class="three">
          <h2>Ingredients</h2>
          <div class="line"></div>
          <% @recipe.ingredients.each do |ingredient| %>
            <div class="ingredients one-line">
              <h4><%= ingredient.name.capitalize %>&nbsp;</h4>
              <% if ingredient.quantity < 1000  %>
                <h5><%= ingredient.quantity.ceil %>&nbsp;</h5>
                <h5><%= ingredient.unit %></h5>
              <% else %>
                <h5><%= (ingredient.quantity / 1000).round(2) %>&nbsp;</h5>
                <h5>Kg</h5>
              <% end %>

            </div>
          <% end %>
        </div>
        <div class="four">
          <h2>Instructions</h2>
          <div class="line"></div>
          <p><%= @recipe.description %></p>
        </div>
    </div>
  </div>
</div>
