<div class="container">
  <div class="recipe-show">
    <div class="show-column">

        <div class="one">
          <h1><%= @recipe.name %></h1>
          <div class="line"></div>
          <div class="cooking-details">
            <div class="one-line"><h3>prep &nbsp;</h3><h2><%= @recipe.prep_time %>min</h2></div>
            <%# <div class="one-line"><p>Rating: <%= @recipe.rating/5</p></div>  %>
            <div class="one-line"><h3>serves &nbsp;</h3><h2><%= @recipe.servings %></h2></div>
            <div class="button"> <h2>calendar +</h2>  </div>
          </div>
        </div>

        <div class="two">
         <%= cl_image_tag @recipe.photo.key %>
        </div>

        <div class="three">
          <h2>Ingredients</h2>
          <div class="line"></div>
          <% @recipe.ingredients.each do |ingredient| %>
          <div class="ingredients one-line"><h4><%= ingredient.name.capitalize %>&nbsp;</h4><h5><%= ingredient.quantity %>&nbsp;</h5><h5><%= ingredient.unit %></h5></div>
          <% end %>
        </div>

        <div class="four">
          <h2>Instructions</h2>
          <div class="line"></div>
          <p><%= @recipe.description %></p>
        </div>
    </div>
  </div>
  <div class="add-a-recipe-to-calendar">
    <%= render partial: "meal_days/new", locals: { recipe: @recipe, meal_day: @meal_day } %>
  </div>
</div>
