<div class="top-rectangle" data-controller="pop-up-menu">
  <div class="column-1">
      <%= link_to root_path, class: "logo-link" do %>
        <h1 class="mb-0">FOODIE</h1><i class="fa-solid fa-utensils fa-2xl px-3" style="color: #1a1423;"></i><h1 class="mb-0">PLANNER</h1>
      <% end %>
  </div>
  <div class="column-2">
    <%= form_with url: recipes_path, class: "form-control no-border",method: :get do %>
      <button class="" type="submit">
        <h4 class="mb-0"><i class="fa-solid fa-magnifying-glass" style="color: #1a1423;"></i></h4>
      </button>
      <%= text_field_tag :query, params[:query], class: "search-field", placeholder: "What would you like to cook ?"%>
    <% end %>
  </div>
  <div class="column-3">
    <div class ="navbar-box border-black gone">
      <%= link_to favorite_path(current_user.favorites.first) do %>
        <h4>Your Saved Recipes</h4>
      <% end %>
    </div>
    <div class ="navbar-box border-black gone">
      <%= link_to meal_days_path do %>
        <h4>Your Calendar</h4>
      <% end %>
    </div >
    <button><i class="fa-solid fa-user fa-2xl navbar-box" style="color: #1a1423" data-action="click->pop-up-menu#showTargets"></i></button>
  </div>
  <div class="menu" data-pop-up-menu-target="hideable" hidden>
    <div class="darken-screen"></div>
      <div class="right-side">
        <% if user_signed_in? %>
          <div class="menu-top">
            <%= current_user.email %>
            <button><i class="fa-sharp fa-solid fa-xmark fa-xl" data-action="click->pop-up-menu#hideTargets"></i></button>
          </div>
          <div class="line"></div>
           <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %></li>
        <% else %>
          <button><i class="fa-sharp fa-solid fa-xmark" data-action="click->pop-up-menu#hideTargets"></i></button>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </div>
    </div>
  </div>
</div>
