<div class="banner-area">
  <h1 class="headline">Welcome to your <br>meal planner</h1>
</div>
<div class="containerrr">
    <div class="line-above">
      <h6 class="first-title">Trending Recipes</h6>
      <p class="subtitle">Quickly access our most popular recipes</p>
    </div>
    <div class="scroll-box snap">
      <% @top_recipes[0..25].shuffle.each do |recipe| %>
        <%= link_to recipe_path(recipe), class: "remove-link" do %>
          <div class="recipe-card">
            <%= cl_image_tag recipe.photo.key %>
            <div class="w-100 justify-elements" data-controller="heart" >
              <div class="card-details-top">
                <h2><%= recipe.name %></h2>
                <% if recipe.favorites.where(user: current_user).empty? %>
                  <%= link_to recipe_favorites_path(recipe), data: { "turbo-method": :post } do %>
                    <i class="fa-regular fa-heart heart-empty" data-action="click->heart#favorite" data-heart-target="iconempty"></i>
                  <% end %>
                  <%= link_to recipe_favorite_path(recipe, recipe.favorites.where(user: current_user)), data: { "turbo-method": :delete }, class: "hide-icon" do %>
                    <i class="fa-solid fa-heart heart-fill" data-action="click->heart#unfavorite" data-heart-target="iconfill"></i>
                  <% end %>
                <% else %>
                  <%= link_to recipe_favorite_path(recipe, recipe.favorites.where(user: current_user)), data: { "turbo-method": :delete } do %>
                    <i class="fa-solid fa-heart heart-fill" data-action="click->heart#unfavorite" data-heart-target="iconfill"></i>
                  <% end %>
                  <%= link_to recipe_favorites_path(recipe), data: { "turbo-method": :post }, class: "hide-icon" do %>
                    <i class="fa-regular fa-heart heart-empty" data-action="click->heart#favorite" data-heart-target="iconempty"></i>
                  <% end %>
                <% end %>
              </div>
              <div class="card-details">
                <p><i class="fa-solid fa-clock">&nbsp;</i><%= recipe.prep_time %>min</p>
                <p><i class="fa-solid fa-user-group">&nbsp;</i><%= recipe.servings %></p>
                <p><% recipe.rating.times do %><i class="fa-solid fa-star"></i>
                  <% end %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="see-more">
      <%= link_to recipes_path do %>
        <h5>See more recipes</h5><div class="arrow-right">&#62;</div>
      <% end %>
    </div>
    <div class="title-home">
      <h6>Your Calendar</h6>
    </div>
    <div class="home-calendar">
      <%= week_calendar(events: @meal_days, number_of_weeks: 1) do |date, meals| %>
        <div class="day-info">
          <%= date.day %>
          <button type="button" data-bs-toggle="modal" data-bs-target="#mymodal-<%= date %>">
            <p>+</p>
          </button>
        </div>
        <% meals.each do |meal| %>
          <%= link_to recipe_path(meal.recipe) do %>
            <div class="home-event">
              <div>
                <%= cl_image_tag meal.recipe.photo.key %>
              </div>
              <p>
                <%= meal.recipe.name %>
              </p>
            </div>
          <% end %>
        <% end %>

        <!-- Modal -->
        <div class="modal fade" id="mymodal-<%= date %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Favorite meals</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= render partial: "meal_days/new_meal_to_day", locals: { favorites: @favorites, meal_day: @meal_day, date: date} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>


<%# Modal meal to calendar %>
