<div class="containerrr" data-controller="pop-up-menu">
    <div class="title-home">
      <h2>Trending recipes</h2>
    </div>
    <div class="scroll-box snap">
      <% @recipes[0..10].each do |recipe| %>
        <%= link_to recipe_path(recipe), class: "remove-link" do %>
          <div class="recipe-card">
            <%= cl_image_tag recipe.photo.key %>
            <div class="w-100 justify-elements">
              <div class="card-details-top">
                <h2><%= recipe.name %></h2>
                <% if recipe.favorites.where(user: current_user).empty? %>
                  <%= link_to recipe_favorites_path(recipe), data: { "turbo-method": :post } do %>
                    <i class="fa-regular fa-heart heart-empty" data-action="click->heart#favorite" data-heart-target="icon"></i>
                  <% end %>
                <% else %>
                  <%= link_to recipe_favorite_path(recipe, recipe.favorites.where(user: current_user)), data: { "turbo-method": :delete } do %>
                    <i class="fa-solid fa-heart heart-fill" data-action="click->heart#favorite" data-heart-target="icon"></i>
                  <% end %>
                <% end %>
              </div>
              <div class="card-details">
                <p><i class="fa-solid fa-clock">&nbsp;</i><%= recipe.prep_time %>min</p>
                <p><i class="fa-solid fa-user-group">&nbsp;</i><%= recipe.servings %></p>
                <p><% recipe.rating.times do %><i class="fa-solid fa-star"></i>
                  <% end %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="see-more">
      <%= link_to "See more...", recipes_path, class: "button" %>
    </div>
    <div class="home-calendar">
      <%= week_calendar(events: @meal_days, number_of_weeks: 1) do |date, meals| %>
        <div class="day-info">

        <%= date.day %>
        <button>
          <i class="fa-solid fa-plus button" data-action="click->pop-up-menu#showTargets"></i>
        </button>
        </div>
        <% meals.each do |meal| %>
          <%= link_to recipe_path(meal.recipe) do %>
            <div class="home-event">
              <div>
                <%= cl_image_tag meal.recipe.photo.key %>
              </div>
              <p>
                <%= meal.recipe.name %>
              </p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>
