  <% require 'bigdecimal'
  %>

<div class="container">
  <div class="grocery-dates">
    <%= simple_form_for @grocery do |f| %>
      <%= f.association :meal_day, as: :check_boxes, label_method: :date %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="grocery-recap">
    <h2>You ask the groceries list for :</h2>
    <ul>
      <% current_user.meal_days.each do |meal| %>
        <li><%= meal.date %> - <%= meal.recipe.name %> (<%= meal.recipe.servings %>pers)</li>
      <% end %>
    </ul>
  </div>
  <div class="grocery-table">
    <div class="grocery-row header-row">
      <div class="grocery-cell">Ingredients</div>
      <div class="grocery-cell grocery-center">Quantity</div>
      <div class="grocery-cell grocery-center">Measure</div>
    </div>
    <% current_user.meal_days.each do |meal| %>
      <% meal.recipe.ingredients.each do |ingredient| %>
        <% ingredient_quantity = BigDecimal(ingredient.quantity)%>
        <% recipe_servings = BigDecimal(meal.recipe.servings) %>
        <% meal_quantity = BigDecimal(meal.quantity) %>
        <div class="grocery-row">
          <div class="grocery-cell"><%= ingredient.name %></div>
          <div class="grocery-cell grocery-center"><%= ((ingredient_quantity / recipe_servings) * meal_quantity).round(2) %></div>
          <div class="grocery-cell grocery-center"><%= ingredient.unit %></div>
        </div>
      <% end %>
    <% end %>
</div>
