<div class="container">
  <div class="grocery-recap my-3">
    <h5><%= link_to "<-- Back to groceries list", groceries_path, class: "button" %></h5>
  </div>
  <div class="grocery-recap">
    <p></p>
    <h2>You ask the groceries list for :</h2>
    <div class="line"></div>
    <ul>
      <% @meals.each do |meal| %>
        <li><strong><%= meal.date.strftime("%Y-%m-%d") %> </strong>- <%= meal.recipe.name %> (<%= meal.quantity %>pers)</li>
      <% end %>
    </ul>
  </div>
  <div class="grocery-table">
    <div class="grocery-row header-row">
      <div class="grocery-cell"><h5>Ingredients</h5></div>
      <div class="grocery-cell grocery-center"><h5>Quantity</h5></div>
      <div class="grocery-cell grocery-center"><h5>Measure</h5></div>
    </div>

    <% categories = [] %>
    <% @meals.each do |meal| %>
      <% meal.recipe.ingredients.map do |ingredient| %>
        <% categories << ingredient.category %>
      <% end %>
    <% end %>
    <% categories = categories.uniq %>

    <% categories.each do |category| %>
      <div class="grocery-row category-row">
        <%= category.capitalize %>
      </div>
      <div class="grocery-row">
        <% @lists.each do |list| %>
          <% if list.ingredient.category == category %>
              <div class="grocery-cell cell-ingredient"><%= list.ingredient.name.capitalize %></div>
              <% if list.quantity > 1000 %>
                <div class="grocery-cell grocery-center"><%= (list.quantity / 1000).round(2) %></div>
                <div class="grocery-cell grocery-center">Kilo</div>
              <% else %>
                <div class="grocery-cell grocery-center"><%= list.quantity.ceil %></div>
                <div class="grocery-cell grocery-center"><%= list.ingredient.unit %></div>
              <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
