<div class="container">
  <div class="grocery-recap my-3">
    <h5><%= link_to "<-- Back to groceries list", groceries_path, class: "button" %></h5>
  </div>
  <div class="grocery-recap">
    <p></p>
    <h2>You ask the groceries list for :</h2>
    <div class="line"></div>
    <ul>
      <% @meals.each do |meal| %>
        <li><strong><%= meal.date.strftime("%Y-%m-%d") %> </strong>- <%= meal.recipe.name %> (<%= meal.quantity %>pers)</li>
      <% end %>
    </ul>
  </div>
  <div class="grocery-table">
    <div class="grocery-row header-row">
      <div class="grocery-cell"><h5>Ingredients</h5></div>
      <div class="grocery-cell grocery-center"><h5>My needs</h5></div>
      <div class="grocery-cell grocery-center"><h5>Measure</h5></div>
      <div class="grocery-cell grocery-center"><h5>Grocery list</h5></div>
      <div class="grocery-cell grocery-center"><h5>Last update</h5></div>
    </div>

    <% categories = [] %>
    <% @meals.each do |meal| %>
      <% meal.recipe.ingredients.map do |ingredient| %>
        <% categories << ingredient.category %>
      <% end %>
    <% end %>
    <% categories = categories.uniq %>
    <% categories.each do |category| %>
      <div class="grocery-row category-row">
        <%= category.capitalize %>
      </div>
      <div >
        <% @lists.each do |list| %>
          <% list_delta = GroceryDelta.find_by(ingredient: list.ingredient, grocery: @grocery) %>
          <% if list.ingredient.category == category %>
            <div data-controller="delta" class="grocery-row " >
              <div class="grocery-cell cell-ingredient"><%= list.ingredient.name.capitalize %></div>
              <% if list.quantity > 600 %>
                <div class="grocery-cell grocery-center">
                  <input type="text"
                  name="my_field"
                  data-action="change->delta#changeValue"
                  data-delta-target="item"
                  data-update-url="<%= grocery_grocery_delta_path(grocery_id: @grocery, id: list.ingredient ) %>"
                  value="<%= (list.quantity / 1000).round(1) %>">
                </div>
                <div class="grocery-cell grocery-center">Kilo</div>
              <% else %>
                <div class="grocery-cell grocery-center">
                  <input type="text"
                      name="my_field"
                      data-action="change->delta#changeValue"
                      data-delta-target="item"
                      data-update-url="<%= grocery_grocery_delta_path(grocery_id: @grocery, id: list.ingredient) %>"
                      value="<%= list.quantity.ceil %>">
                </div>
                <div class="grocery-cell grocery-center"><%= list.ingredient.unit %></div>
              <% end %>
              <div class="grocery-cell grocery-center">
                <em>
                  <% if list_delta %>
                    <%= list.quantity - list_delta.quantity > 600 ? ((list.quantity - list_delta.quantity)/1000).round(1) : list.quantity - list_delta.quantity   %>
                  <% else %>
                    <%= list.quantity > 600 ? (list.quantity / 1000).round(1) : list.quantity.round  %>
                  <% end %>
                </em>
              </div>
                <div class="grocery-cell grocery-center" data-delta-target="update">
                  <% if list_delta %>
                    <%= list_delta.updated_at.strftime("%d/%m - %H:%M") %>
                  <% else %>
                    <%= list.updated_at.strftime("%d/%m - %H:%M") %>
                  <% end %>
                </div>
              </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
