<div class="back-to">
  <%= link_to groceries_path do %>
    <h5>&#60; Back to your lists</h5>
  <% end %>
</div>
<div class="container">
  <div class="left-right-page">
    <div class="top-part">
      <h6 class="first-title mb-4">Your are shopping for</h6>
          <div class="recipes-recap">
            <ul>
              <% @meals.each do |meal| %>
                <li><strong><%= meal.recipe.name %></strong> -
                <%= meal.quantity %>&nbsp;<i class="fa-solid fa-user-group"></i> - <%= meal.date.strftime("%A %d/%m") %></li>
              <% end %>
            </ul>
          </div>
    </div>
    <div class="grocery-table">
      <div class="grocery-row header-row">
        <div class="grocery-cell first-title"><h6>Ingredients</h6></div>
        <div class="grocery-cell grocery-center"></div>
      </div>

      <% categories = [] %>
      <% @meals.each do |meal| %>
        <% meal.recipe.ingredients.map do |ingredient| %>
          <% categories << ingredient.category %>
        <% end %>
      <% end %>
      <% categories = categories.uniq %>
      <% categories.each do |category| %>
        <div class="grocery-row category-row">
          <%= category.capitalize %>
        </div>
        <div data-controller="readonly">
          <% @lists.each do |list| %>
            <% list_delta = GroceryDelta.find_by(ingredient: list.ingredient, grocery: @grocery) %>
            <% if list.ingredient.category == category %>
              <div data-controller="delta" class="grocery-row " >
                <div class="grocery-cell cell-ingredient"><%= list.ingredient.name.capitalize %></div>
                <% if list.quantity > 600 %>
                  <div class="grocery-cell grocery-center">
                    <input type="text"
                  name="my_field"
                  class="readonly"
                  data-action="change->delta#changeValue"
                  data-delta-target="item"
                  data-update-url="<%= grocery_grocery_delta_path(grocery_id: @grocery, id: list.ingredient ) %>"
                  value="<%= (list.quantity / 1000).round(1) %>"
                  data-readonly-target="input"
                  readonly>
                  kg
                  </div>
                <% else %>
                  <div class="grocery-cell grocery-center">
                    <input type="text"
                      name="my_field"
                      class="readonly"
                      data-action="change->delta#changeValue"
                      data-delta-target="item"
                      data-update-url="<%= grocery_grocery_delta_path(grocery_id: @grocery, id: list.ingredient) %>"
                      value="<%= list.quantity.ceil %>"
                      data-readonly-target="input"
                      readonly>
                  <%= list.ingredient.unit %>
                  </div>
                <% end %>
                <div class="grocery-cell" data-delta-target="update">
                  <div class="editting-icons">
                    <div class="delete-ingredient">
                      <%= link_to grocery_list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                        <i class="fa-regular fa-trash-can"></i>
                      <% end %>
                    </div>
                    <div class="refresh-ingredient">
                      <%= link_to refresh_grocery_list_path(list), data: {turbo_method: :patch} do %>
                        <i class="fa-sharp fa-solid fa-arrow-rotate-left"></i>
                      <% end %>
                    </div>
                    <div class="edit-ingredient">
                      <button data-action="click->readonly#toggleEditable" data-readonly-target="button"><i class="fa-solid fa-pencil"></i></button>
                    </div>
                  </div>
                </div>

              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
