<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '<- previous week'), calendar.url_for_previous_view %>
    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title"><%= start_date.strftime("%B %Y") %></span>
    <% else %>
      <span class="calendar-title"> <%= start_date.strftime("%B %Y") %></span>
    <% end %>
    <%= link_to t('simple_calendar.next', default: 'next week ->'), calendar.url_for_next_view %>
  </div>

  <%= simple_form_for(@grocery) do |f| %>
    <table class="table table-striped">
      <thead>
        <tr>
            <% date_range.slice(0, 7).each do |day| %>
              <th>
                <div class="daybox">
                  <%= t('date.abbr_day_names')[day.wday] %>
                  <%= f.check_box :meal_days, { multiple: true }, day, nil %>
                </div>
              </th>
            <% end %>
        </tr>
      </thead>
      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                <% else %>
                  <% passed_block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= f.submit %>
  <% end %>
</div>
