<div class="simple-calendar" data-controller="show-check-box">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '<- previous week'), calendar.url_for_previous_view %>
    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title h2"><%= start_date.strftime("%B %Y") %></span>
    <% else %>
      <span class="calendar-title"> <%= start_date.strftime("%B %Y") %></span>
    <% end %>
    <%= link_to t('simple_calendar.next', default: 'next week ->'), calendar.url_for_next_view %>
  </div>

  <%= simple_form_for(@grocery) do |f| %>
    <table class="table table-striped">
      <thead>
        <tr>
            <% date_range.slice(0, 7).each do |day| %>
              <th>
                <div class="daybox">
                  <%= t('date.abbr_day_names')[day.wday] %>
                  <div data-show-check-box-target="checkbox" data-action="click->show-check-box#enableGenerate" class="cal-hide" >
                    <%= f.check_box :meal_days, { multiple: true, data: { show_check_box_target: 'tick' } }, day, nil %>
                  </div>
                </div>
              </th>
            <% end %>
        </tr>
      </thead>
      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                <% else %>
                  <% passed_block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h2 data-show-check-box-target="select" data-action="click->show-check-box#show" class="button button-writing">select days</h2>
    <div data-show-check-box-target="generate" class="cal-hide" >
      <%= f.submit value: "Generate your grocery list", data: { show_check_box_target: "submit" }, class: "btn-disable button-writing" %>
    </div>
  <% end %>
</div>
